<style>
    footer {
        display: flex;
        justify-content: center;
        background-color: rgb(248, 249, 250);
    }

    footer .socials {
        flex: 1
    }

    footer .socials ul {
        justify-content: space-evenly;
    }

    footer .socials i {
        font-size: 2rem;
        color: rgb(0, 0, 0);
    }
</style>
<footer>
    <section class="socials">
        <ul class="flex-ul tj-row">
            <li>
                <a href="https://facebook.com">
                    <i class="bi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://instagram.com">
                    <i class="bi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://instagram.com">
                    <i class="bi-telephone"></i>
                </a>
            </li>
        </ul>
    </section>
</footer>