<style>
    .promoted {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .significant {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>

<h1>Tomasz Jantos</h1>
<section>
    {% include front_page_exposed.liquid %}
</section>
<section class="promoted">
    {% include front_page_promoted.liquid %}
</section>
<section class="significant">
    {% include front_page_significant.liquid %}
</section>
