{% assign manufacturer = site.data.manufacturers[include.manufacturer_id] %}

<img
    class="manufacturer-logotype"
    src="{{ manufacturer.logo_url }}"
    alt="{{ manufacturer.name }} logotype"
/>

<h2>Kategorie Produktów</h2>

<div class="manufacturer-categories">
    {% for cat in manufacturer.categories %}
        {% assign category_id = cat[0] %}
        {% assign category = cat[1] %}

        {% assign img_url = category.img_url %}
        {% assign title = category.name %}

        {% capture target_url %}
            {% include
                proc/category_target_url.liquid
                category_id = category_id
            %}
        {% endcapture %}

        {% include
            tj_card_category.liquid
            category = category
            target_url = target_url
        %}
    {% endfor %}
</div>
